<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LogSearchServlet</servlet-name>
        <servlet-class>se.stunda.LogSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogSearchServlet</servlet-name>
        <url-pattern>/log-search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadReportServlet</servlet-name>
        <servlet-class>se.stunda.UploadReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadReportServlet</servlet-name>
        <url-pattern>/log-report-data</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TermUploadServlet</servlet-name>
        <servlet-class>se.stunda.TermUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TermUploadServlet</servlet-name>
        <url-pattern>/term-upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SingleTermUploadServlet</servlet-name>
        <servlet-class>se.stunda.SingleTermUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SingleTermUploadServlet</servlet-name>
        <url-pattern>/single-term-upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogUploadServlet</servlet-name>
        <servlet-class>se.stunda.LogUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogUploadServlet</servlet-name>
        <url-pattern>/log-upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TermVerificationServlet</servlet-name>
        <servlet-class>se.stunda.TermVerificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TermVerificationServlet</servlet-name>
        <url-pattern>/term-verification</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckLoginServlet</servlet-name>
        <servlet-class>se.stunda.CheckLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckLoginServlet</servlet-name>
        <url-pattern>/check-login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HandleVerifiedTermsServlet</servlet-name>
        <servlet-class>se.stunda.HandleVerifiedTermsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleVerifiedTermsServlet</servlet-name>
        <url-pattern>/handle-verify</url-pattern>
    </servlet-mapping>
</web-app>
